.form-container {
    margin: 4rem 6rem;
    color: #2a2a2a;

    margin-bottom: 2rem;
}

.form {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.input {
    height: 3rem;
    padding: 0 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    border: 1px solid #2a2a2a;
}

.textara {

    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    border: 1px solid #2a2a2a;
}

.button {
    display: inline;
    margin-bottom: 3rem;
    height: 2.5rem;
    border-radius: 5px;
    font-weight: 700;
    background-color: white;

    outline: none;
  }

.button:hover {
    background-color: black;
    color: white;
}

@media screen and (max-width:850px) {
    .form {
        width: 90%;
    }
}